<main>
<container>
<div class="row">
    <div class="col-xs-offset-1">
    <h1>会員一覧</h1>
    </div>
</div>

<div class="row">
<div class="col-xs-6 col-xs-offset-3">
<table class="table table-hover">
    <thead>
        <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
        <tr>
        　　<th><%= customer.id %></th>
            <td>
                <%= link_to admins_customer_path(customer), class: 'develop' do %>
                    <p><%= customer.last_name %><%= customer.first_name %></p>
                <% end %>
            </td>
            <td><%= customer.email %></td>
            <td><%= customer.is_deleted %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
</div>
</container>
</main>