<main>
<container>
<div class="row">
    <div class="col-xs-offset-1">
    <h1>会員一覧</h1>
    </div>
</div>

<div class="row">
<div class="col-xs-6 col-xs-offset-3">
<table class="table table-striped">
    <thead>
        <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
            <th><%= customer.id %></th>
            <td><%= customer.first_name %><%= customer.last_name %></td>
            <td><%= customer.email %></td>
            <td><%= customer.is_deleted %></td>
        <% end %> 
    </tbody>
</table>
</div>
</div>
</container>
</main>