<<<<<<< HEAD
<main>
    <container>
        <div class="row">
            <div class="col-xs-offset-1">
                <h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h1>
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-offset-1">
                <%= form_with model: @customer, url: admins_customer_path(@customer.id), local: true do |f| %>
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <th>顧客ID</th>
                                <th><%= f.text_field :id %></th>
                            </tr>
                            <tr>
                                <th>氏名</th>
                                <th><%= f.text_field :last_name %> <%= f.text_field :first_name %></th>
                            </tr>
                            <tr>
                                <th>フリガナ</th>
                                <th><%= f.text_field :last_kana %> <%= f.text_field :first_kana %></th>
                            </tr>
                            <tr>
                                <th>郵便番号</th>
                                <th><%= f.text_field :postal_code %></th>
                            </tr>
                            <tr>
                                <th>住所</th>
                                <th><%= f.text_field :address %></th>
                            </tr>
                            <tr>
                                <th>電話番号</th>
                                <th><%= f.text_field :telephone_number %></th>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <th><%= f.text_field :email %></th>　
                            </tr>
                            <tr>
                                <th>会員ステータス</th> 
                                <th><%= f.radio_button :is_deleted, value="true", checked: true %>有効 <%= f.radio_button :is_deleted, valie="false" %>退会済み</th>
                            </tr>
                        </tbody>
                    </table>
                    <%= f.submit '変更を保存する', class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </container>
</main>

=======
<div class="container takasa">

  <h2><i class="fas fa-user-edit"></i>登録情報編集</h2><br>

    <%= form_with model:@customer, url:edit_path, local:true do |f| %>
    <div class="row user_edit">

      <div class="col-xs-2">
        <%= f.label :"名前" %>
      </div>
      <div class="col-xs-1">
        <%= f.label :"（姓）" %>
      </div>
      <div class="col-xs-2">
        <%= f.text_field :last_name %>
      </div>
      <div class="col-xs-1">
        <%= f.label :"（名）" %>
      </div>
      <div class="col-xs-2">
        <%= f.text_field :first_name %>
      </div>
    </div>
    <div class="row user_edit">
      <div class="col-xs-2">
        <%= f.label :"フリガナ" %>
      </div>
      <div class="col-xs-1">
        <%= f.label :"（セイ）" %>
      </div>
      <div class="col-xs-2">
        <%= f.text_field :last_name_kana %>
      </div>
      <div class="col-xs-1">
        <%= f.label :"（メイ）" %>
      </div>
      <div class="col-xs-2">
        <%= f.text_field :first_name_kana %>
      </div>
    </div>
    <div class="row user_edit">
        <div class="col-xs-3">
            <%= f.label :"メールアドレス" %>
        </div>
        <div class="col-xs-3">
            <%= f.email_field :email %>
        </div>
    </div>
    <div class="row user_edit">
      <div class="col-xs-3">
        <%= f.label :"電話番号" %>
      </div>
      <div class="col-xs-3">
        <%= f.text_field :phone_number %>
      </div>
    </div>
    <div class="row user_edit">
      <div class="col-xs-3">
        <%= f.label :郵便番号 %>
      </div>
      <div class="col-xs-3">
        <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %>
      </div>
    </div>
    <div class="row user_edit">
      <div class="col-xs-3">
        <%= f.label :住所 %>
      </div>
      <div class="col-xs-5">
        <%= f.text_field :address, autofocus: true, autocomplete: "address", :size => "50"%>
      </div>
    </div>

    <div class="row user_edit">
      <div class="col-xs-3">
        <%= f.submit "編集内容を保存" ,class:"btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-xs-3">
        <%=button_to "退会する",delete_path, method: :get, class: "btn btn-danger" %>
      </div>
    </div>
</div>
>>>>>>> develop
