<div class="container">
    <div class="row">
      <h2 class="col-md-3 col-md-offset-1 sign"><span class="label label-default">　<i class="fas fa-user-edit"></i>登録情報編集　</span></h2>
    </div>
    
    <%= form_with model:@customer, url:customers_path, local:true do |f| %>
    <div class="sukima row form-inline">
      <p class="col-sm-2 col-sm-offset-1">名前</p>
        <%= f.label :last_name, "（姓）",class:"col-sm-1 control-label" %>
        <%= f.text_field :last_name, class: "form-control col-sm-2" %>
        <%= f.label :first_name, "（名）",class:"col-sm-1 control-label" %>
        <%= f.text_field :first_name, class: "form-control col-sm-2" %>
    </div>
    <div class="sukima row form-inline">
      <p class="col-sm-2 col-sm-offset-1">フリガナ</p>
        <%= f.label :last_kana, "（セイ）" ,class:"col-sm-1 control-label"%>
        <%= f.text_field :last_kana, class: "form-control col-sm-2" %>
        <%= f.label :first_kana, "（メイ）" ,class:"col-sm-1 control-label" %>
        <%= f.text_field :first_kana, class: "form-control col-sm-2" %>
    </div>
    <div class="sukima row form-inline">
      <p class="col-sm-2 col-sm-offset-1">メールアドレス</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control col-sm-2 col-sm-offset-1" %>
    </div>
    <div class="sukima row form-inline">
      <p class="col-sm-3 col-sm-offset-1">郵便番号（ハイフンなし）</p>
      <%= f.text_field :postal_code ,class: "form-control col-sm-2" %>
    </div>
    <div class="sukima row form-inline">
      <p class="col-sm-2 col-sm-offset-1">住所</p>
      <%= f.text_field :address, class: "form-control col-sm-8 col-sm-offset-1" %>
    </div>
    <div class="sukima row form-inline">
      <p class="col-sm-3 col-sm-offset-1">電話番号（ハイフンなし）</p>
      <%= f.text_field :telephone_number,class: "form-control col-sm-2" %>
    </div>

    <div class="row">
      <div class="col-sm-3 col-sm-offset-2">
        <%= f.submit "　編集内容を保存する　" ,class:"btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-xs-3 col-sm-offset-2">
        <%= link_to "退会する",unsubscribe_customers_path, method: :get, class: "btn btn-danger" %>
      </div>
    </div>
</div>
