<div class="container">
  <div class="row">
    <h2 class="col-md-3 col-md-offset-1"><span class="label label-default">　注文情報確認　</span></h2>
  </div>

  <div class="row">
          <% sum = 0 %>
    <div class="col-md-7">
      <table class="table table-bordered">
        <tr class="active">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
          <% @cart_items.each do |cart_item| %>
        <tr>
            <td><%= attachment_image_tag cart_item.item, :image, size: "50x50", fallback: "no_image.jpg" %><%= cart_item.item.name %></td>
            <td><%= number_with_delimiter((cart_item.item.price * 1.1).round) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= number_with_delimiter(money = (cart_item.item.price * cart_item.amount * 1.1).round) %></td>
          <% sum = sum + money %>
        </tr>
          <% end %>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-bordered">
        <tr class="active">
          <th>送料</th>
          <td>￥<%= @order.send_cost %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td>￥<%= number_with_delimiter(sum) %></td>
        </tr>
        <tr>
          <th>請求合計</th>
          <td>￥<%= number_with_delimiter((sum + @order.send_cost)) %> </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>支払方法</h3>
    </div>
    <div class="col-md-9">
      <p><%= @order.pay %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>お届け先</h3>
    </div>
    <div class="col-md-9">
      <p><%= @order.postcode %><%= @order.address %><br><%= @order.name %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-4">
      <%= form_with model: @order, local:true do |f| %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :postcode, :value => @order.postcode %>
        <%= f.hidden_field :address, :value => @order.address %>
        <%= f.hidden_field :name, :value => @order.name %>
        <%= f.hidden_field :order_status, {value: '入金待ち'} %>
        <%= f.hidden_field :send_cost, :value => @order.send_cost %>
        <%= f.hidden_field :bill, :value => @order.bill %>
        <%= f.hidden_field :pay, :value => @order.pay %>
        <%= f.submit '購入を確定', class: "btn btn-success btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>