<div class="container takasa">
  <h2 class="index col-md-3 col-md-offset-1"><span class="label label-default">　　商品一覧　　</span></h2>

  <div class="text-right index-new">
    <%= link_to new_admins_item_path do %>
      <button type="button" class="btn btn-success btn-success btn-circle btn-lg">＋</button>
    <% end %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr class="active"> <!-- active => 色をグレーに変更 -->
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admins_item_path(item.id) %></td>
        <td><%= item.price.to_s(:delimited) %></td>
        <td><%= item.genre.name %></td>
        <% if item.is_active == true %>
        <td>有効</td>
        <% else %>
        <td>無効</td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @items %>

</div>