<body>
  <h1>配送先編集</h1>
  <%= form_with model:@address, url:address_path(@address.id), local:true do |f| %>
  <p><%= f.label :郵便番号（ハイフンなし） %>
  <%= f.text_field :postcode %></p>
  <p><%= f.label :住所 %>
  <%= f.text_field :address %></p>
  <p><%= f.label :宛名 %>
  <%= f.text_field :name %></p>
  <%= f.submit '編集する' %>
  <% end %>
  <%= link_to "戻る", addresses_path %>
</body>