<div class="container">
  <div class="row">
=======
<<<<<<< HEAD
        <tr>
          <th>
            ジャンル検索
          </th>
        </tr>
        <tr>
          <th>
            <!--eachでジャンル名を持ってくる？-->
            <ul>
              <li>
                ジャンル1
            
              </li>
              <li>
                ジャンル２
              </li>
            </ul>
            <!--ここまで？もしかしたらthの中かも。レイアウトみながら調整！-->
          </th>
        </tr>
      </table>
    </div>
=======
    <!--ジャンル一覧パーシャル-->
    <%= render 'items/genrebox', genres: @genres %>
    
>>>>>>> 5e93be0d65e06cdb66d97f04a3a073dae47c307c
=======
    <!--ジャンル一覧パーシャル-->
    <%= render 'items/genrebox', genres: @genres %>

>>>>>>> origin/develop
>>>>>>> a883f125f864da21a6a14b5429015dff89a036e0
    <div class="col-xs-9">
      <h3>商品一覧<span>(全<%= @quantity %>件)</span></h3>
      <div class="row">
        <% @sweet_items.each do |item| %>
          <div class="col-3"><!--floatleft?-->
            <%= link_to item_path(item.id) do %>
              <%= attachment_image_tag item, :image, size: "200x200", fallback: "no-image.jpg" %>
            <% end %>
            <p><%= item.name %></p>
            <p>¥<%= item.price %></p>
          </div>
        <% end %>
      </div>
      <!--ページネーションつける-->
    </div>
  </div>
</div>
>>>>>>> 3c0378a320575fa6418ffda399b813346bab437c
