<div class="container">
  <div class="sign-in">
    <div class="row">
      <h2 class="col-md-3 col-md-offset-1 sign"><span class="label label-default">　会員の方はこちらからログイン　</span></h2>
    </div>
    <div class="row">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-horizontal">
          <div class="form-group">
            <%= f.label :email, "メールアドレス" ,class:"col-sm-2 col-sm-offset-2 control-label" %>
            <div class="col-sm-8">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, "パスワード" ,class:"col-sm-2 col-sm-offset-2 control-label" %>
            <div class="col-sm-8">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
          </div>
            <div class="forget-pass">
              <%= render "customers/shared/links" %>
            </div>
            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <h2 class="col-md-3 col-md-offset-1 sign"><span class="label label-default">　登録がお済みでない方　</span></h2>
    </div>
      <div class="row to-sign-up">
        <%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。
      </div>
  </div>
</div>
