<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/404e462280.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <style>
      .link{
        margin-top:25px;
      }
      li{
        margin-right:25px;
      }
      .logo{
        padding-left:20px;
        font-size:30px;
      }
    </style>
    <header class="navbar navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <%= link_to root_path do %>
            <%= image_tag('logo.jpg', class: "pull-left", style: "width: 150px; height: 100px;") %>
          <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right link">
            <% if customer_signed_in? %>
              <li class="name">ようこそ <br><%= current_customer.last_name %>  <%= current_customer.first_name %>さん </li>
              <li><%= link_to "マイページ", customers_path, class:"btn btn-default btn-sm" %></li>
              <li><%= link_to "商品一覧", items_path, class:"btn btn-default btn-sm" %></li>
              <li><%= link_to "カート", cart_items_path, class:"btn btn-default btn-sm" %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-default btn-sm" %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to "商品一覧", admins_items_path, class:"btn btn-default btn-sm" %></li>
              <li><%= link_to "会員一覧", admins_customers_path, class:"btn btn-default btn-sm" %></li>
              <li><%= link_to "注文履歴一覧", admins_orders_path, class:"btn btn-default btn-sm" %></li>
              <li><%= link_to "ジャンル",admins_genres_path, class:"btn btn-default btn-sm" %>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-default btn-sm" %></li>
            <% else %>
              <li><%= link_to "about", homes_about_path, class:"btn btn-default btn-sm" %></li>
              <li><%= link_to "商品一覧", items_path, class:"btn btn-default btn-sm" %></li>
              <li><%= link_to "新規登録", new_customer_registration_path, class:"btn btn-default btn-sm" %></li>
              <li><%= link_to "ログイン", new_customer_session_path, class:"btn btn-default btn-sm" %></li>
            <% end %>
          </ul>
        </nav>
        <dl class="window navbar-form navbar-left" role="search">
          <%= search_form_for @search, url: items_path, class:"form-group" do |f| %>
            <dt><%= f.text_field :name_cont, class:"form-control" %></dt>
            <dd><%= f.submit ("検索") , class: 'btn btn-default'%></dd>
          <% end %>
        </dl>
      </div>
    </header>
    <p id="notice"><%= notice %></p>
    <%= alert %>
    <%= yield %>
  </body>
</html>
